/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* COMMON */
.flex {
    display: flex;
}

.web-app {
    height: 100vh;
    width: 100%;
    /* debug */
    background-color: black;
}

/* MAIN */
.cam-layout {
    padding-top: 3%;
    width: 90%;
    margin: 0 auto;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 4px 4px;
    height: calc(100vh - 60px);
    /* debug */
    /* background-color: rgb(71, 88, 88); */
}

div.user-cam {
    position: relative;
    width: calc((100% / 7) - (32px / 7) );
}

/* label */
div.label {
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: rgba(82, 82, 82, 0.6);
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
    padding: 4px;    
}

div.label i {
    margin-left: 4px;
}

