/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* COMMON */
.flex {
    display: flex;
}

.web-app {
    height: 100vh;
    width: 100%;
    /* debug */
    background-color: black;
}

.deg {
    transform: rotate(45deg);
}

ul {
    list-style-type: none;
}

/* MAIN */
.cam-layout {
    position: relative;
    padding-top: 3%;
    width: 90%;
    margin: 0 auto;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    gap: 4px 4px;
    height: calc(100vh - 60px);
    /* debug */
    /* background-color: rgb(71, 88, 88); */
}

.video-action-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
}

.action-button {
    display: inline-block;
    padding: 3px;
}

button:hover {
    cursor: pointer;
}

.action-button button {
    border-style: none;
    color: white;
    padding: 2px;
    border-radius: 6px;
    background-color: rgba(82, 82, 82, 0.6);
}

div.user-cam {
    position: relative;
    width: calc((100% / 7) - (32px / 7) );
}

/* label */
div.label {
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: rgba(82, 82, 82, 0.6);
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
    padding: 4px;    
}

div.label i {
    margin-left: 4px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #222222;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

li button {
    border-style: none;
    background-color: transparent;
    color: white;
}

button.voice-video i {
    font-size: 1.6rem;
}

button.voice-video h3 {
    font-weight: 200;
    font-size: 0.8rem;

}
